%html
  %head
  %body
    .banner
      %p 
        %h1 Fuel
        %h2 Donation Management System
    
    .actions
      %button
        = link_to 'Pantry', controller: 'inventories'
      %button
        = link_to 'Organizations', controller: 'organizations'

