<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Droid+Serif|Lato" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="BannerDiv">
       <h1>Fuel</h1>
        <h2>Donation Management System</h2>
        <p>Summer CSCI 4830 Team 4 Group Project</p> 
    </div>
    <div>
        <%= link_to 'Current Items', controller: 'items' %> |
        <%= link_to 'New Item', new_item_path %>
    </div>
</body>
</html>