// Place all the styles related to the Donors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#donors{
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#donors th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#donors th, table#donors td {
  padding: 4px;
  text-align: left;
}