// Place all the styles related to the inventories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table#inventories{
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#inventories th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#inventories th, table#inventories td {
  padding: 4px;
  text-align: left;
}